footer.footer
    .container
        .row
            .col-xs-24
                .footer__wrapper
                    .footer__logo
                        img(src="/images/logo-footer.png")
                    ul.footer__social
                        li
                            a(href="https://www.facebook.com/zegelipae", target="_blank")
                                i.fa.fa-facebook
                        li
                            a(href="https://www.instagram.com/zegelipae/", target="_blank")
                                i.fa.fa-instagram
                        li
                            a(href="https://twitter.com/zegelipae?lang=es", target="_blank")
                                i.fa.fa-twitter
                        li
                            a(href="https://www.youtube.com/user/IpaePeru", target="_blank")
                                i.fa.fa-youtube-play
            .col-xs-24
                .footer__container
                    ul
                        each item in site.data.footer
                            li
                                a(href=item.url, target="_blank")=item.name
