.home {
    background: $lightGray;
    padding: 40px 0;

    &__container {
        background: $white;
        box-shadow: 0 0 10px rgba(0,0,0,.3);
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__title {
        font-weight: 300;
        font-size: 24px;
        color: $blue;
        margin: 0 0 40px;
        text-align: center;

        @include mq(sm){
            font-size: 32px;
        }
    }

    &__intro {
        background: $lightGray;
        height: 300px;
        padding-top: 20px;
        padding-bottom: 20px;

        p {
            padding: 0 15px 0 30px;
        }
    }

    &__slider {
        &__slide {
            height: 300px;
        }
    }

    &__news {
        &__title {
            font-size: 21px;
            color: $blue;
            font-weight: 300;
        }
        li{
            margin-bottom: 15px;
            &:nth-child(odd) {
                background: $lightestGray;
            }
        }
    }

    &__news-item {
        padding-left: 15px;
        &__date {
            display: block;
            background: $blue;
            color: $white;
            font-size: $xs;
            padding: 3px 0;
            text-align: center;
        }

        &__img {
            height: 0;
            width: 100%;
            padding-bottom: 100%;
            position: relative;
            overflow: hidden;

            img {
                position: absolute;
                height: 100%;
                min-width: 100%;
                top:0;
                left:0;
            }
        }

        &__txtcol {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        &__title {
            color:$blue;
            font-size: 14px;
            margin: 0 0 5px;
            padding:0 10px;
            font-weight: 700;
        }

        &__text {
            font-size: 14px;
            margin: 0 0 5px;
            padding:0 10px;
        }

        &__link {
            font-weight: 700;
            padding-left: 10px;
            display: block;
            font-size: $xs;
        }
    }

    &__activities {
        display: flex;
        flex-wrap: wrap;

        &__title {
            font-size: 21px;
            color: $blue;
            font-weight: 300;
        }
        li{
            width: 50%;
            flex-basis: 50%;
            height: 0;
            padding-bottom: 32%;
            position: relative;
            overflow: hidden;
        }
    }

    &__activities-item {
        &__img {
            position: absolute;
            z-index: 0;
            width: 100%;
            min-height: 100%;
        }

        &__overlay {
            @include trans;

            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background: rgba(0,0,0,.7);
            opacity: 0;
            color: $white;
            text-align: center;


            &:hover {
                opacity: 1;
            }
        }

        &__name {
            font-weight: 300;
            font-size: 16px;
            color: $white;

            @include mq(sm){
                font-size: 21px;
            }
        }

        &__more {
            display: block;
            background: $white;
            border-radius: 50%;
            font-weight: 300;
            font-size: 24px;
            width: 32px;
            height: 32px;
            line-height: 32px;
            text-align: center;
        }
    }

    &__gallery {
        padding: 40px 0;

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: stretch;

            li {
                margin: 1px;
            }

            img {
                height: 80px;
                width: auto;

                @include mq(md) {
                    height: 160px;
                }
            }
        }
    }

    &__contact {
        $c: &;

        i {
            margin-right: 10px;
        }

        .embed-responsive.-map {
            padding-bottom: 55%;
        }

        &__title {
            font-size: 21px;
            color: $blue;
            font-weight: 300;
            margin: 0 0 15px;
        }

        &__form {
            ._button {
                margin-bottom: 40px;

                @include mq(sm){
                    margin-bottom: 0;
                }
            }
        }

        &__form-group {
            @include trans;
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
        }

        &__label {
            @include trans;

            order: 1;
            opacity: 0;
            transform: translateY(100%);
            font-weight: 700;
            font-size: 12px;
            color: $blue;
            text-transform: uppercase;
            margin-bottom: 10px;
            display: block;
            height: 0;
        }

        &__input {
            @include trans;

            background: $lightGray;
            color: $blue;
            border: none;
            height: 40px;
            padding: 0 5px;
            order: 2;

            &::placeholder {
                @include trans;
                opacity: .5;
            }

            &:focus {
                outline:none;
                border:none;
                box-shadow: 0 0 10px rgba(0,0,0,.15);

                &::placeholder {
                    opacity: 0;
                }

                & + #{$c}__label {
                    opacity: 1;
                    transform: none;
                    padding-bottom: 15px;
                }
            }

            &--textarea {
                height: 120px;

                & + #{$c}__label {
                    opacity: 1;
                    transform: none;
                    padding-bottom: 15px;
                }
            }
        }
    }
}
