.header {

    $h: &;

    position: relative;
    top:0;
    left:0;
    right:0;
    background: $white;
    z-index: 1000;
    height: 350px;
    padding: 0;
    background: url('/images/header.jpg') no-repeat center center;
    background-size: cover;

    @include mq(md){
        height: 420px;
        padding: 20px 0;
        position: relative;
        background: url('/images/header.jpg') no-repeat center center;
        background-size: cover;
    }

    &__container {
        @include mq(md){
            position: relative;
            height: 420px;
        }
    }

    &__hamburguer {
        width: 35px;
        padding: 7px 5px;
        position: fixed;
        right:$base/2;
        top:$base/2;
        z-index:5;
        background: rgba(0,0,0,.7);

        span {
            background: $white;
            display: block;
            height:3px;
            transition: all .5s ease;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }

        @include mq(md){
            display:none;
        }
    }

    &__logo {
        @include trans;

        width: 150px;
        height: 150px;
        border-radius: 20px 20px 0 0;
        position: absolute;
        left:0;
        right: 0;
        margin: auto;
        bottom:0;
        z-index:5;
        background: $white;
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;

        @include mq(md){
            right: auto;
            left: 0;
            bottom: 50px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__nav {
       @include trans;

       position: fixed;
       top:0;
       bottom:0;
       right:0;
       width:100%;
       max-width: 390px;
       background: transparentize($black, .15);
       transform: translateX(100%);
       padding: 0 40px;
       display: flex;
       justify-content: center;
       flex-direction: column;
       z-index: 5;

       @include mq(md){
           padding: 0 50px;
           transform: none;
           position: absolute;
           bottom: 0;
           max-width: none;
           width: 100%;
           flex-direction: row;
           background: $white;
           align-items: flex-end;
           height: 50px;
           border-bottom: 5px solid $blue;
           top: auto;
       }

       &__close {
           @include close;
           right:24px;
           top:24px;

           @include mq(md){
               left:50px;
               top:30px;
               display: none;
           }
       }
    }

   &__menu {
       margin-bottom: 40px;

       @include mq(md){
           display: flex;

           @include mq(md){
               justify-content: flex-start;
               text-align: left;
               margin-bottom: 0;
           }
       }

       li:not(:last-child){
           @include mq(md){
               margin-right: 20px;
           }
       }

       a{
           @include trans;

           color:$white;
           font-weight: 300;
           font-size: $xl;
           margin-bottom: 5px;
           display: inline-block;

           @include mq(md){
               color: $blue;
               font-size: $md;
               height: 50px;
               display: block;
               line-height: 50px;
               margin-bottom: 0;
               padding: 0 15px;
           }

           &:hover {
               background: $lightestGray;
           }
       }
   }

   &__social {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;

       @include mq(md){
           position: absolute;
           top:0;
           right: 0;
           width: 300px
       }

       a{
           color: $white;

           @include mq(md){
               color: $darkGray;
           }
       }

       &__list {
           display: flex;

           li{
               margin-left: 10px;
           }
       }
   }

   &__access{
       padding-right: 10px;
       display: flex;
       justify-content: center;

       @include mq(md){
           margin-left: 80px;
           border-right: 1px solid $blue;
           padding-right: 0;
       }

       a{
           color: $white;

           @include mq(md){
               color: $blue;
               width: 45px;
               height: 45px;
               display: block;
               text-align: center;
               border-left: 1px solid $blue;

               &:hover {
                   background: $lightestGray;
               }
           }
       }

       i{
           margin-right: 40px;
           font-size: 32px;

           @include mq(md){
               margin-right: 0;
               font-size: 24px;
               line-height: 45px;
           }
       }
   }

   &__search {
       background: $blueGray;
       height: 50px;
       position: absolute;
       bottom: -50px;
       width: 100%;

       @include mq(md){
           position: relative;
           bottom:inherit;
       }

       &__button {
           @include trans;
           color: $darkestGray;
           background: none;
           border: none;
           width: 50px;
           height: 50px;
           line-height: 50px;
           font-size: 32px;

           &:hover {
               background: transparentize($darkestGray, .9);
           }
       }

       &__input {
           @include trans;

           line-height: 41px;
           height: 46px;
           background: $blueGray;
           font-weight: 700;
           border: none;
           position: relative;
           top: -7px;
           box-shadow: none;
           border-bottom: 2px solid transparent;
           padding: 0 4px;
           width: 145px;

           &:focus {
               outline: none;
               box-shadow: none;
               border-bottom: 2px solid $darkGray;
           }
       }

       &__advanced {
           text-transform: uppercase;
           color: $darkestGray;
           display: flex;
           float: right;
           font-weight: 700;
           font-size: $xxs;
           width: 100px;
           align-items: center;
           height: 50px;

           @include mq(md){
               line-height: 50px;
               width: auto;
           }

           i {
               font-size: 18px;
               line-height: 46px;
               margin-left: 5px;
           }
       }
   }

   &__tournaments {

       $t: &;

       @include mq(md){
           background: $lightestGray;
       }

       &__list {

           @include mq(md){
               display: flex;
               justify-content: center;
           }

           & > li {
               border-bottom: 1px solid $lightGray;

               @include mq(md) {
                   width: 150px;
                   flex-basis: 150px;
                   position: relative;
               }

               &:hover {
                   background: $white;

                   @include mq(md){
                       border-bottom: 2px solid $blue;
                   }

                   #{$t}__options {
                       max-height: 185px;

                       @include mq(md){
                           max-height: 30;
                       }

                       & > li {
                           opacity: 1;
                       }
                   }
               }

               & > a {
                   display: block;
                   height: 40px;
                   line-height: 40px;
                   font-size: $md;
                   text-align: center;
               }
           }
       }

       &__options {
           @include trans;

           overflow: hidden;
           max-height: 0;
           background: $blue;

           @include mq(md){
               display: flex;
               width: auto;
               position: absolute;
               top: 42px;
               left: 50%;
               transform: translateX(-50%);
           }

           & > li {
               @include trans;
               opacity: 0;
               border-bottom: 1px solid rgba(0,0,0,.5);

               &:hover {
                   background: rgba(0,0,0,.3);
               }

               & > a {
                   color: $white;
                   height: 30px;
                   display: block;
                   line-height: 30px;
                   font-size: $sm;
                   padding: 0 10px;
                   white-space: nowrap;

                   @include mq(md){
                       text-align: center;
                   }
               }
           }
       }
   }

    &.-open {
        #{$h}__nav{
            transform: translateX(0);
        }

        #{$h}__hamburguer{
            opacity: 0;
        }
    }
}
