extends _layouts/base

block content
    main.home
        section.home__hero
            .home__hero__row
                .home__hero__title.wow.fadeInLeftBig
                    img(src="/images/hero-title.png")
                .home__hero__wrapper.wow.fadeInLeftBig(data-wow-delay=".3s")
                    p.home__hero__text
                        |cuéntanos las expectativas sobre tu futuro profesional y participa por una beca. invita a tus amigos a darle like y junta más votos.
                        br
                        span la historia con más likes será la ganadora.
            .home__hero__row.home__hero__row--bottom.wow.fadeInUpBig
                p.home__hero__comment ¡tu futuro profesional puede ser una gran historia!
            .home__hero__image.wow.fadeInRight
                img(src="/images/girl.png")
        section#form.home__form
            .home__title.home__title--form.wow.fadeInUpBig
                img(src="/images/form-title.png")
            .home__form__col-wrapper
                .home__form__col.wow.fadeInLeft(data-content="form-1")
                    .home__form__content
                        .home__form__index 1
                        p.home__form__instructions deja tu nombre, apellido y mail y sube tu foto, ¡puedes subir hasta 3!
                .home__form__col.wow.fadeInLeft(data-content="form-2")
                    .home__form__content
                        .home__form__index 2
                        p.home__form__instructions ¡por qué quisieras estudias esa carrera y cúales son tus expectativas profesionales a futuro?
                .home__form__col.wow.fadeInLeft(data-content="form-3")
                    .home__form__content
                        .home__form__index 3
                        p.home__form__instructions 
                            span ¡gracias por participar!
                            br
                            br
                            |te notificaremos a tu email cuando subamos la historia en la web.
                            |¡éxitos!
                .home__form__col.wow.fadeInRight.-active(data-content="form-1")
                    .home__form__container
                        .home__form__wrapper
                            label.home__form__label nombre
                            input.home__form__input(type="text" id="name")
                        .home__form__wrapper
                            label.home__form__label apellido
                            input.home__form__input(type="text" id="name")
                        .home__form__wrapper
                            label.home__form__label correo electrónico
                            input.home__form__input(type="text" id="name")
                        .home__form__wrapper
                            label.home__form__label carrera
                            input.home__form__input(type="text" id="name")
                        .home__form__wrapper
                            label.home__form__label tus fotos
                            .home__form__buttons-wrapper
                                input.home__form__file(type="file" id="file1")
                                label.home__form__button(for="file1")
                                    .home__form__image
                                        img(src="/images/icon-picture.png")
                                    .home__form__text subir
                                input.home__form__file(type="file" id="file2")
                                label.home__form__button(for="file2")
                                    .home__form__image
                                        img(src="/images/icon-picture.png")
                                    .home__form__text subir
                                input.home__form__file(type="file" id="file3")
                                label.home__form__button(for="file3")
                                    .home__form__image
                                        img(src="/images/icon-picture.png")
                                    .home__form__text subir
                        button.home__form__submit-button(data-target="form-2") continuar
                            i.fa.fa-long-arrow-right
                .home__form__col.wow.fadeInRight(data-content="form-2")
                    .home__form__container
                        .home__form__wrapper
                            label.home__form__label tu historia
                            textarea.home__form__input.home__form__input--textarea(id="historia" placeholder="Escribe aquí tu historia")
                        .home__form__wrapper
                            label.home__form__label ¿por qué es un desafío para ti?
                            input.home__form__input(type="text" id="name")
                        .home__form__wrapper
                            label.home__form__label ¿Por qué es tu sueño?
                            input.home__form__input(type="text" id="name")
                        button.home__form__submit-button(data-target="form-3") finalizar
                            i.fa.fa-long-arrow-right
                .home__form__col
            .home__form__dots
                ul
                    li
                        i.fa.fa-circle.-active(data-content="form-1")
                    li
                        i.fa.fa-circle(data-content="form-2")
                    li
                        i.fa.fa-circle(data-content="form-3")
        section#como-participar.home__participar
            .home__title.home__title--participar.wow.fadeInUpBig
                img(src="/images/participar-title.png")
            .home__participar__row
                .home__participar__col.wow.fadeInUpBig
                    .home__participar__icon
                        img(src="/images/icon-picture.png")
                    .home__participar__text
                        p 
                        |sube tu foto
                        br
                        |(hasta 3)
                .home__participar__col.wow.fadeInUpBig(data-wow-delay=".2s")
                    .home__participar__icon
                        img(src="/images/icon-portfolio.png")
                    .home__participar__text
                        p 
                        |cuéntanos las
                        br
                        |expectativas para tu
                        br
                        |futuro profesional
                .home__participar__col.wow.fadeInUpBig(data-wow-delay=".4s")
                    .home__participar__icon
                        img(src="/images/icon-heart.png")
                    .home__participar__text
                        p 
                        |la historia más
                        br
                        |votada en nuestra web
                        br
                        |será la ganadora
        section#historias.home__historias
            .home__title.home__title--historias.wow.fadeInUpBig
                img(src="/images/conoce-title.png")
                
            .home__historias__wrapper                
                .home__historias__container.wow.fadeInLeftBig
                    .home__historias__image
                        img(src="/images/person1.jpg")
                    .home__historias__content
                        p.home__historias__name juan becerra
                        .home__historias__likes
                            span.home__historias__counter 2
                            i.fa.fa-heart
                
                .home__historias__container.wow.fadeInLeftBig(data-wow-delay=".2s")
                    .home__historias__image
                        img(src="/images/person2.jpg")
                    .home__historias__content
                        p.home__historias__name jorgelina dodds
                        .home__historias__likes
                            span.home__historias__counter 2
                            i.fa.fa-heart
                
                .home__historias__container.wow.fadeInLeftBig(data-wow-delay=".4s")
                    .home__historias__image
                        img(src="/images/person3.jpg")
                    .home__historias__content
                        p.home__historias__name jenifer del estero
                        .home__historias__likes
                            span.home__historias__counter 102
                            i.fa.fa-heart
                
                .home__historias__container.wow.fadeInLeftBig(data-wow-delay=".6s")
                    .home__historias__image
                        img(src="/images/person4.jpg")
                    .home__historias__content
                        p.home__historias__name marcelo torres
                        .home__historias__likes
                            span.home__historias__counter 2
                            i.fa.fa-heart
                
                .home__historias__container.wow.fadeInLeftBig.-hidden-xs
                    .home__historias__image
                        img(src="/images/person1.jpg")
                    .home__historias__content
                        p.home__historias__name juan becerra
                        .home__historias__likes
                            span.home__historias__counter 2
                            i.fa.fa-heart
                
                .home__historias__container.wow.fadeInLeftBig.-hidden-xs(data-wow-delay=".2s")
                    .home__historias__image
                        img(src="/images/person2.jpg")
                    .home__historias__content
                        p.home__historias__name jorgelina dodds
                        .home__historias__likes
                            span.home__historias__counter 2
                            i.fa.fa-heart
                
                .home__historias__container.wow.fadeInLeftBig.-hidden-xs(data-wow-delay=".4s")
                    .home__historias__image
                        img(src="/images/person3.jpg")
                    .home__historias__content
                        p.home__historias__name jenifer del estero
                        .home__historias__likes
                            span.home__historias__counter 102
                            i.fa.fa-heart
                
                .home__historias__container.wow.fadeInLeftBig.-hidden-xs(data-wow-delay=".6s")
                    .home__historias__image
                        img(src="/images/person4.jpg")
                    .home__historias__content
                        p.home__historias__name marcelo torres
                        .home__historias__likes
                            span.home__historias__counter 2
                            i.fa.fa-heart
                
                .home__historias__container.wow.fadeInLeftBig.-hidden-xs
                    .home__historias__image
                        img(src="/images/person1.jpg")
                    .home__historias__content
                        p.home__historias__name juan becerra
                        .home__historias__likes
                            span.home__historias__counter 2
                            i.fa.fa-heart
                
                .home__historias__container.wow.fadeInLeftBig.-hidden-xs(data-wow-delay=".2s")
                    .home__historias__image
                        img(src="/images/person2.jpg")
                    .home__historias__content
                        p.home__historias__name jorgelina dodds
                        .home__historias__likes
                            span.home__historias__counter 2
                            i.fa.fa-heart
                
                .home__historias__container.wow.fadeInLeftBig.-hidden-xs(data-wow-delay=".4s")
                    .home__historias__image
                        img(src="/images/person3.jpg")
                    .home__historias__content
                        p.home__historias__name jenifer del estero
                        .home__historias__likes
                            span.home__historias__counter 102
                            i.fa.fa-heart
                
                .home__historias__container.wow.fadeInLeftBig.-hidden-xs(data-wow-delay=".6s")
                    .home__historias__image
                        img(src="/images/person4.jpg")
                    .home__historias__content
                        p.home__historias__name marcelo torres
                        .home__historias__likes
                            span.home__historias__counter 2
                            i.fa.fa-heart
            
            button.home__historias__more-button ver más
        
        section#premios.home__premios
            .home__title.home__title--premios
                img(src="/images/premios-title.png")
            .home__premios__wrapper
                .home__premios__col.wow.fadeInLeft
                    .home__premios__number 3
                    p.home__premios__text becas primer ciclo
                .home__premios__col.wow.fadeInRight
                    .home__premios__number 10
                    p.home__premios__text media becas primer ciclo
            .home__premios__conditions
                p *debe haber terminado quinto de media
                p presentar ficha de matrícula firmada con las condiciones
                p debe mantener una nota promedio de 15 para mantener la beca
