mixin eg-modal(spec)
    .eg-modal
        .eg-modal__backdrop(data-modal="close")
        .eg-modal__container
            button.eg-modal__close(data-modal="close")
                span
                span
            
            block
